altgraph==0.17.4
annotated-types==0.7.0
astronomia==3.0.2
certifi==2024.8.30
cltoolbox==3.0.1
configparser==7.1.0
dateparser==1.2.0
defusedxml==0.7.1
docstring_parser==0.16
docutils==0.21.2
et_xmlfile==2.0.0
flexcache==0.3
flexparser==0.4
jplephem==2.22
mc_bin_client==1.0.1
numpy==2.1.3
odfpy==1.4.1
opencv-python==4.10.0.84
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
Pint==0.24.4
Pint-Pandas==0.6.2
platformdirs==4.3.6
pycairo==1.27.0
pydantic==2.9.2
pydantic_core==2.23.4
PyGObject==3.50.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pyparsing==3.2.0
python-calamine==0.3.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyWavelets==1.7.0
pyxdg==0.28
pyxlsb==1.0.10
regex==2024.11.6
scipy==1.14.1
setuptools==75.4.0
sgp4==2.23
six==1.16.0
skyfield==1.49
tabulate==0.9.0
tap.py==3.1
tappy==1.2.0
tapsimple @ git+https://github.com/emil-perhinschi/tapsimple@29ea25722cf1a097e35d1a446800d0813c24f5b4
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
xlrd==2.0.1
XlsxWriter==3.2.0
